<header>
  <div class="row">
    <div class="col-md-6 col-12">
      <h1 class="main-head fw-bolder my-5">MyMenu:
        Eat To Be Your Fit!</h1>
        <p class="fs-5">Exciting news! HealthyDiningFinder has now expanded to MyMenu Concierge! Learn more by visiting MyMenuUSA.com.</p>
    </div>
    <div class="col-md-6 col-12">
      <img class="w-100" src="http://localhost:3000/b5ae5eef9fc46f5520515a477240ec6f.png" alt="meal photo">
    </div>
  </div>
</header>
<!-- ================================================== -->
<section class="healthy my-5 " >
  <h2  class="secondary-head fw-bold row justify-content-center ">HEALTHY COOKER</h2>
  <p class="fs-6 text-center my-5 text-black-50">Healthy cooker is leading the restaurant industry in providing nutrition information for restaurant menus and helping more restaurants become healthy restaurants.</p>
  <div class="row">
    <div class="col-md-6 col-12" >
      <img class="w-100" src="http://localhost:3000/6d1b4a727ef1c7b5514926e60c9c3c49.jpg" alt="">
    </div>
    <div class="col-md-6 col-12" >
      <img class="w-100" src="http://localhost:3000/52899fb1c3bac9393190cc117bcb9907.jpg" alt="">
    </div>
  </div>
</section>
<!-- ================================================== -->
