<nav class="navbar navbar-expand-lg main bg-main py-4" style="background-color: var(--main-color);">
    <div class="container">
      <a class="navbar-brand text-light fw-bolder"><i class="fa-solid fa-utensils fa-2x text-light mx-2"></i>MyHealthyCooker</a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-light fw-bold rounded px-3" routerLink="" aria-current="page"  routerLinkActive="text-danger bg-secondary "
            [routerLinkActiveOptions]="{'exact' : true} ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold rounded text-light px-3" routerLink="meals" routerLinkActive="text-danger bg-secondary "
            [routerLinkActiveOptions]="{'exact' : true} ">Meals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold rounded text-light px-3" routerLink="login" routerLinkActive="text-danger bg-secondary"
            [routerLinkActiveOptions]="{'exact' : true} " *ngIf="!global.isLogin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-light" *ngIf="global.isLogin" (click)="handleClick()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold  rounded text-light px-3" routerLink="cart" routerLinkActive="text-danger bg-secondary"
            [routerLinkActiveOptions]="{'exact' : true} "><i class="fa-solid fa-cart-plus fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
