<div class="row my-4 px-5">
  <form my-4 #mealForm="ngForm"  (ngSubmit)="handleSubmit(mealForm)" >
    <div>
    <input type="text" placeholder="mealName"
    [(ngModel)]="model.mealName" name="mealName" #mealName="ngModel" >
    </div>

    <div>
    <input type="text" placeholder="meal"
    [(ngModel)]="model.meal" name="meal" #meal="ngModel">
    </div>

    <div>
    <input type="text" placeholder="mealCatogery"
    [(ngModel)]="model.mealCatogery" name="mealCatogery" #mealCatogery="ngModel">
    </div>

    <div>
    <input type="text" placeholder="content"
    [(ngModel)]="model.content" name="content" #content ="ngModel">
    </div>
    <div>
    <input type="text" placeholder="price"
    [(ngModel)]="model.price" name="price" #price ="ngModel">
    </div>

   <div class="mb-3">
    <input class="form-control" type="file" id="formFileMultiple" multiple placeholder="mealImage"
     (change)="handleChange($event)">
  </div>
  <button class="btn btn-danger">Add Meal</button>
  </form>

</div>
