<div class="row justify-content-center mt-4">
  <button class="col-4 mx-3 btn btn-secondary my-2 fw-bold" routerLink="/login">User Login</button>
  <button class="col-4 mx-3 btn btn-secondary  my-2 fw-bold" routerLink="/dashboard">Admin Login</button>
</div>

<div class="row justify-content-center">
  <div class="alert alert-danger" *ngIf="msgError">
    {{msgError}}
  </div>
  <form #loginform="ngForm" (ngSubmit)="handleSubmit(loginform)">
    <div class="row gy-4 mt-4 justify-content-center" >
        <div class="col-6 mx-4">
            <input type="email" placeholder="enter Email" class="form-control"
             [(ngModel)]="model.email" name="email" #email="ngModel" required email minlength="5">
  <!-- ============================================= -->
             <div class="alert alert-danger" *ngIf="loginform.submitted && email.invalid">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Invalid Email</div>
                <div *ngIf="email.errors?.['minlength']">min length = 5</div>
             </div>
        </div>
  <!-- ============================================= -->
         <div class="col-6 mx-4">
            <input type="password" placeholder="enter password" class="form-control"
            [(ngModel)]="model.password" name="password" #password="ngModel">
             <!-- required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || loginform.submitted )">
                <div *ngIf="password.errors?.['required']">password is required</div>
                <div *ngIf="password.errors?.['pattern']">Match the pattern</div>
            </div>
        </div>
  <!-- ============================================= -->
        <div class="row my-5 justify-content-center">
            <button class="col-6 btn btn-danger fw-bold">login</button>
            <!-- <button class="btn btn-danger mx-3">register</button> -->
        </div>

      </div>

  </form>
  <div class="row justify-content-center">
    <h3 class="text-center">Sign in for first time</h3>
    <div class="row my-5 justify-content-center">
      <button class="col-6 btn btn-secondary  fw-bold" routerLink="/users">Register</button>
      <!-- <button class="btn btn-danger mx-3">register</button> -->
  </div>

  </div>
</div>

