<div class="row my-4 justify-content-center ">
  <div class="card mb-3 mx-2 px-0" style="max-width: 540px;" *ngFor="let item of mealsArray">
    <div class="row g-0">
      <div class="col-md-7">
        <img src={{item.image}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{item.mealName}}</h5>
          <p class="card-text">{{item.meal}}</p>
          <a class="btn btn-danger d-block my-2" (click)="deleteMeal($event)">Remove meal</a>

        </div>
      </div>
    </div>
  </div>

</div>
