<div class="row my-4 justify-content-center ">
  <div class="card mb-3 mx-4 px-0" style="max-width: 400px;" *ngFor="let item of mealsArray">
    <div class="row g-0">
      <div class="col-md-7">
        <img src={{item.image}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{item.mealName}}</h5>
          <p class="card-text">{{item.meal}}</p>
          <a class="btn btn-danger d-block my-2" (click)="deleteMeal($event)">Remove meal</a>

        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <button class="col-4 m-5 btn btn-warning my-2 fw-bold" routerLink="/login">Confirm your order</button>
  </div>

</div>
